.loginForm {
  display: flex;
  border: 2px solid #f7b512;
  border-radius: 14px;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: 400px;
}

.loginForm .login {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

.loginForm label {
  float: left;
  padding-left: 6px;
}

.loginForm #loginSubmit {
  display: inline-block;
  background: #0033ab;
  color: #f7b512;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  padding: 6px 12px;
  margin-top: 10px;
}

#newAcc {
  display: block;
  width: 400px;
  margin: auto;
  padding-left: 40px;
}